#navbar .logo {
  font-size: 1rem;
  padding-bottom: 10px;
}

#navbar,
#navbar li {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#navbar ul li a {
  padding: 0.25rem 1.2rem;
}

.L-heading {
  margin-top: 2rem;
  font-size: 2rem;
}

/* .container {
  line-height: 1rem;
  position: absolute;
  bottom: 5px;
} */

.client-1,
.client-2,
.client-3,
.client-4 {
  box-shadow: 2px 2px 15px #ff866c;
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 899px) and (min-width: 470px) {
  .client-1,
  .client-2,
  .client-3,
  .client-4 {
    height: 175px;
    width: 175px;
  }
}

#about {
  display: block;
  height: fit-content;
}

#about .info {
  padding: 2rem 0;
}

.info p,
#services p {
  font-size: 1em;
}

#services .items {
  display: block;
}

#footer h3 {
  padding: 0.5rem;
  margin-bottom: 2rem;
}
